<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
</head>
<body>
<h2>Welcome</h2>
<h1>Ratings By User </h1>

<hr>
<table border="1">
  <tr>
    <td>Rating ID</td>
    <td>Total Rating</td>
    <td>User ID</td>
    <td>Movie ID</td>
  </tr>
  <tr th:each="rating : ${ratings}">
    <td th:text="${rating.id }"></td>
    <td th:text="${rating.rating }">/5</td>
    <td th:text="${rating.userId }"></td>
    <td th:text="${rating.movieId }"></td>
  </tr>

</table>
<a href="./">Go To Main Page</a>
</body>
</html>